#nav {
  margin: -0.5rem;
  padding: 1.5rem;
  background-color: rgba(177, 177, 177, 0.676);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
#nav > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
